{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<h1>Nos Produits Phares</h1>
	<div class="row">
		{% for i in 1..4 %}
			<div class="col">
				<div class="card">
					<img src="https://picsum.photos/200/200" class="img-fluid" alt="Image Produit">
					<div class="card-body">
						<h4 class="card-title">Superbe Chaise en bois</h4>
						<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, incidunt.</p>
						<a href="#" class="btn btn-primary btn-sm">Détails</a>
						<a href="#" class="btn btn-success btn-sm">Ajouter</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

	<hr>
	<h2>Un Service Irreprochable</h2>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, quae doloribus facere, molestiae adipisci sit provident consectetur dicta vitae quod illo mollitia repellat possimus recusandae. Totam porro adipisci accusantium vel!</p>

	<div class="row">
		{% include "shared/_assurance.html.twig" with {
                'color': 'primary',
                'icone': 'fa-solid fa-truck',
                'text': "Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas excepturi consequuntur vel esse incidunt commodi!"
            } %}
		{% include "shared/_assurance.html.twig" with {
                'color': 'success',
                'icone': 'fa-solid fa-check',
                'text': "Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas excepturi consequuntur vel esse incidunt commodi!"
            } %}
		{% include "shared/_assurance.html.twig" with {
                'color': 'warning',
                'icone': 'fa-solid fa-lock',
                'text': "Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas excepturi consequuntur vel esse incidunt commodi!"
            } %}
	</div>


{% endblock %}
